materials
*.DS_Store
*.pyc
__pycache__
.ipynb_checpoints
*.egg-info
*.txt
*.bin
*.cand
pretrained-models/*/*.json
secos/models/data/*.json
pretrained-models/*.gz
evaluation/wiktionary
evaluation/output
evaluation/*.tar.gz